<%= form_for @tweet, remote: true, html: { class: 'new-tweet'} do |f| %>
  <div class="new-tweet__content">
    <div class="new-tweet__avatar">
      <img src="<%=current_user.avatar %>">
    </div>
    <%= f.text_area :body, placeholder: "¿Que está pasando?", autocomplete: 'off' %>
  </div>
  <div class="new-tweet__actions">
    <div class="new-tweet__counter">280</div>
    <%= f.submit "Twittear", id: "button-twittea",class: "button-primary" %>
  </div>
  <div class="tweet_alerts">
  </div>
<% end %>
