<%= form_for @tweet, remote: true, html: { id: 'new_tweet'} do |f| %>
  <div>
    <%= f.text_area :body, placeholder: "¿Que está pasando?", autocomplete: 'off' %>
    <small>Solo 280 carácteres</small>
  </div>
  <%= f.submit "Twittea" %>
  <div class="tweet_alerts"></div>
<% end %>
