<%= form_for @tweet, remote: true, html: { id: 'new_tweet' } do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  
  <div>
    <%= f.submit %>
  </div>

  <div class="tweet_alerts"></div>
<% end %>

