<div>
  <%= render partial: 'tweets/form' %>
</div>

<ul class="tweets">
  <% @tweets.each do |tweet| %>
    <%= render partial: 'tweets/tweet', locals: { tweet: tweet } %>
  <% end %>
</ul>

<script type="text/javascript">
  $(function()
  {
    put_hashtags_and_mentions($(".tweets p"));
  });
</script>