// Place all the styles related to the Hashtags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hashtag, .mention
{
  color: rgb(29, 161, 242);
  text-decoration: none;
  
  &:hover
  {
    color: rgb(29, 161, 242);
    text-decoration: underline;
  }
}

.header-hashtag
{
  background: #1da1f2;
  margin-top: -10px;
  margin-bottom: 10px;
  min-height: 60px;
  line-height: 28px;
  display: flex;

  h1
  {
    color: white;
    font-size: 28px;
    font-weight: bold;
  }

  .container
  {
    margin: auto;
  }
}