// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-card
{
  background: white;
  padding: 10px;
  padding-left: 100px;
  position: relative;
  min-height: 100px;

  &__header
  {
    position: relative;
  }

  &__avatar
  {
    position: absolute;
    width: 100px;
    left: -90px;

    img
    {
      width: 80%;
      border-radius: 50%;
    }
  }

  &__name
  {
    font-weight: bold;
    font-size: 24px;
  }

  &__username, &__join
  {
    display: block
  }
  &__username
  {
    margin-bottom: 5px;
  }
  &__username a
  {
    text-decoration: none;
    color: #657786;

    &:hover
    {
      text-decoration: underline;
    }
  }
}

.tweets h3
{
  background: white;
  padding: 9px 12px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 10px;
  box-shadow: 0px 1px 10px rgba(black, .1)
}